<!-- Hero Section -->
<section class="hero-section">
    <div class="hero-content">
        <h1 class="display-4">Welcome to Our Store</h1>
        <p class="lead">Discover premium quality products designed for creators and gamers.</p>
        <a href="#shop" class="btn btn-primary btn-lg">Shop Now</a>
    </div>
</section>

<main class="hero">
    <div class="container position-relative text-center " style="padding: 20px; ">
        <p class="bg-white text-black mt-2"
            style="position: absolute; top: 60vh; left: 30px; font-size: 17px; padding: 5px;">
            Run the show with time-tested looks for the new year:
        </p>

        <p class="bg-white text-black"
            style="position: absolute; top: 68vh; left: 30px; font-size: 17px; padding: 5px;">
            Samba; tracksuit and more.
        </p>

        <ul class="list-unstyled d-flex " style="position: absolute; top: 75vh; left: 30px;">
            <li class="mb-2">
                <button class="btn btn-link text-dark bg-white">
                    SHOP MEN
                    <i class="fa-sharp fa-solid fa-right-long" style="color: #000000;"></i>
                </button>
            </li>
            <li class="mb-2">
                <button class="btn btn-link text-dark bg-white">
                    SHOP WOMEN
                    <i class="fa-sharp fa-solid fa-right-long" style="color: #000000;"></i>
                </button>
            </li>
            <li class="mb-2">
                <button class="btn btn-link text-dark bg-white">
                    SHOP KIDS
                    <i class="fa-sharp fa-solid fa-right-long" style="color: #000000;"></i>
                </button>
            </li>
        </ul>
    </div>
</main>




<main class="container mt-4 d-flex flex-column">
    <div class="d-flex justify-content-start gap-2 mb-3">
        <button class="btn btn-dark">New Arrival</button>
        <button class="btn btn-outline-dark" id="best-sellers">Best Sellers</button>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 mb-3">
            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/3ab9ba27b8b54d62bfeebe70e6638ac9_9366/Ultraboost_5X_Shoes_Blue_JI3022_01_standard.jpg"
                alt="Ultraboost 5X Shoes" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/a80af041214649dba2c5ef839741f166_9366/Ultraboost_5X_Shoes_Blue_JI3019_01_00_standard.jpg"
                alt="Ultraboost 5X Shoes" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/aabc00a38294430eb6b2798316d722b0_9366/Denim_Rhinestone_Pants_Blue_JN3020_21_model.jpg"
                alt="Denim Rhinestone Pants" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/e9a9c4fff325436ca6faaeff0c1cf5ae_9366/Neuclassics_Track_Top_Black_IW5601_21_model.jpg"
                alt="Neuclassics Track Top Black" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/ca69d27226794cbc8682e3d5c311c80f_9366/Neuclassics_Track_Top_White_IY7572_21_model.jpg"
                alt="Neuclassics Track Top White" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/40dbfe75d59c4cec81407e642acd50bf_9366/UCL_League_24-25_League_Phase_Ball_White_IX4060_01_standard.jpg"
                alt="UCL League Ball" class="img-fluid">
        </div>
    </div>
</main>


<div class=" container p py-4 d-flex justify-content-start g ">
    <button class="btn btn-dark ">New Arrival</button>
    <button class="btn btn-outline-dark" id="best-sellers">Best Sellers</button>
</div>

<nav class="container py-2 mb-4 ">
    <div class="row">
        <div class="col-6 col-md-4 mb-3">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/og_ss24_sep_superstar_m_tc_d_52601381fc.jpg"
                alt="Superstar" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/4705350_CAM_CRM_GLOBAL_ADAPT_EU_MAINPACK_4_VIVIDHORIZON_FW_24_TEASER_CAROUSEL_DESKTOP_1050x1400_c3431d7307.jpg"
                alt="Adapt" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 mb-3">
            <img src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_400,w_400/xcat_ss24_bts_tcc_sept_sou_mw_d_a4e06d29c2.jpg"
                alt="BTS" class="img-fluid">
        </div>
    </div>
</nav>

<div class=" my-5 ">
    <h2 class="font-weight-bold">Popular right now</h2>
    <ul class="d-flex list-unstyled p-3 justify-content-between">
        <li class="h4 font-weight-bold">Samba</li>
        <li class="h4 font-weight-bold">Campus</li>
        <li class="h4 font-weight-bold">Gazelle</li>
    </ul>
    <ul class="d-flex list-unstyled p-3 justify-content-between">
        <li class="h4 font-weight-bold">Messi</li>
        <li class="h4 font-weight-bold">Ultraboost</li>
        <li class="h4 font-weight-bold">NMD</li>
    </ul>
</div>

<div class="">
    <div class="row">
        <div class="col-md-3">
            <h4>COLLEGIATE</h4>
            <p class="py-3 h5">Shower Shoes</p>
            <p class="py-2 h5">Collegiate Shirts</p>
            <p class="py-2 h5">Collegiate Shirts</p>
        </div>
        <div class="col-md-3">
            <h4>FALL ATHLETICS</h4>
            <p class="py-3 h5">Tennis Court</p>
            <p class="py-2 h5">Volleyball Footwear</p>
            <p class="py-2 h5">Yoga</p>
        </div>
        <div class="col-md-3">
            <h4>STAY DRY</h4>
            <p class="py-3 h5">Waterproof Boots</p>
            <p class="py-2 h5">Waterproof Golf Shoes</p>
            <p class="py-2 h5">GORE-TEX Shoes</p>
        </div>
        <div class="col-md-3">
            <h4>KEEP WARM</h4>
            <p class="py-3 h5">Fleece Pants</p>
            <p class="py-2 h5">Base Layers</p>
            <p class="py-2 h5">Wool Clothing</p>
        </div>
    </div>
</div>

<main class="bg-dark text-white text-center py-5">
    <div class="">
        <h1 class="text-center mb-4">A leader in athletic performance since 1949</h1>
        <p class="lead">We're inspired by athletes. From the very first track spikes Adi Dassler made in his
            workshop, creating the best gear for the athlete is what drives us to pursue technological breakthroughs
            and design innovations. Our sneakers and apparel are worn by world-record holders and medal winners, but
            it's just as important that road runners, weekend hikers, recreational soccer players, and fitness
            enthusiasts. From adidas Boost, the game-changing cushioning technology, to the world-beating design of
            Adizero Adios Pro running shoes to Terrex outdoor gear to soccer cleats with unbeatable touch, we're
            always iterating, innovating and improving with athletes in mind.</p>
        <p class="mt-3 lead">The 3-Stripes have appeared on medal stands all around the world, but they've also had
            an influence that extends far beyond the field of play. adidas sneakers have been worn by hip-hop
            performers, skaters, artists and all the other change-makers who move the culture forward with their
            vision and uncompromising style. We've made our mark with legendary lifestyle shoes like the adidas
            Superstar, the Stan Smith and the Samba, shoes that began as athletic footwear before hitting the
            streets and leaving an indelible impression on the culture.</p>
        <p class="mt-3 lead">adidas Originals apparel is a stylish complement to our lifestyle shoes. Our streetwear
            collections pull from the archives to put a modern spin on classics like the Firebird tracksuit and the
            Tiro pant. Luxe materials, sophisticated silhouettes and unexpected details elevate our streetwear and
            transcend sport while at the same time never losing sight of our heritage. Because our mantra is, and
            has always been, that through sport we have the power to change lives.</p>
    </div>
</main>